*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}


body{
background:#020817;
color:#F8FAFC;
padding:20px 70px;
overflow-x:hidden;
position:relative;
}

body::before{
content:"";
position:fixed;
width:500px;
height:500px;
background:#06B6D4;
filter:blur(220px);
opacity:.12;
top:-200px;
right:-150px;
z-index:-1;
}

body::after{
content:"";
position:fixed;
width:400px;
height:400px;
background:#22D3EE;
filter:blur(180px);
opacity:.08;
bottom:-150px;
left:-100px;
z-index:-1;
}



nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:18px 30px;
background:rgba(15,23,42,.55);

backdrop-filter:blur(15px);
-webkit-backdrop-filter:blur(15px);

border:1px solid rgba(34,211,238,.15);
border-radius:20px;

}

nav h2{

color:#22D3EE;

}


nav a{

color:#E2E8F0;
text-decoration:none;
margin:15px;
transition:.3s;

}

nav a:hover{

color:#22D3EE;
}


.hero{

min-height:85vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
gap:30px;

}

.ring{
width:220px;
height:220px;
border-radius:50%;

background:conic-gradient(
#22D3EE,
transparent,
#06B6D4,
transparent,
#22D3EE
);

animation:spin 4s linear infinite;

box-shadow:
0 0 20px #22D3EE,
0 0 60px rgba(34,211,238,.8);

position:relative;
}

.ring::after{
content:"";
position:absolute;
inset:12px;
background:#020817;
border-radius:50%;
}

@keyframes spin{
from{
transform:rotate(0deg);
}
to{
transform:rotate(360deg);
}
}

.hero-text{

max-width:700px;

}



.hero-text h1{

font-size:45px;

}


span{

color:#22D3EE;

}



p{

line-height:1.6;
margin:12px;

}






.stats{

display:flex;
gap:25px;

}



.stat-card{

width:170px;
padding:22px;
background:rgba(15,23,42,.6);
backdrop-filter:blur(15px);
border:1px solid rgba(34,211,238,.2);
border-radius:20px;
box-shadow:0 0 25px rgba(34,211,238,.15);

}


.stat-card h2{

color:#22D3EE;
font-size:38px;

}






.three{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

margin:50px 0;

}






.card{

background:rgba(15,23,42,.55);
backdrop-filter:blur(16px);
border:1px solid rgba(34,211,238,.15);
border-radius:20px;
padding:18px;
box-shadow:0 8px 30px rgba(0,0,0,.25);
transition:.3s;
}



.card:hover{

transform:translateY(-8px);
border-color:#22D3EE;
box-shadow:0 0 35px rgba(34,211,238,.35);

}





.card-title{

font-size:22px;

color:#22D3EE;

margin-bottom:15px;

}




ul{

padding-left:20px;

}


li{

margin:8px;

}





.heading{

text-align:center;

font-size:42px;

margin:60px 0 35px;

color:#22D3EE;

text-shadow:0 0 20px rgba(34,211,238,.8);

}






.projects{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

max-width:1200px;
margin:auto;

}





.projects .card{

min-height:220px;

display:flex;

flex-direction:column;

justify-content:space-between;

}




.projects p{

font-size:14px;

}



.project-buttons{

display:flex;

justify-content:center;

gap:15px;

margin-top:15px;

}





.btn{

background:transparent;
border:1px solid #22D3EE;
color:#22D3EE;
padding:10px 22px;
border-radius:30px;
text-decoration:none;
transition:all .3s ease;

}



.btn:hover{

background:rgba(34,211,238,.1);
box-shadow:0 0 20px rgba(34,211,238,.7);
transform:translateY(-3px);
}







.resume{

max-width:650px;

margin:70px auto;

text-align:center;

}

.resume i{

font-size:50px;

color:#22D3EE;

display:block;

margin-bottom:20px;

text-shadow:
0 0 15px rgba(34,211,238,.8),
0 0 35px rgba(34,211,238,.5);

}



.contact{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}

.contact i{

font-size:42px;

color:#22D3EE;

display:block;

margin-bottom:15px;

text-shadow:
0 0 12px rgba(34,211,238,.8);

}



.contact-link{

text-decoration:none;

color:white;

text-align:center;

}

.contact .card{

min-height:180px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.about-card{

max-width:1000px;

margin:50px auto 30px;

}



.skills-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

max-width:1200px;

margin:auto;

}



@media(max-width:900px){

.projects{
grid-template-columns:1fr;
}

.contact{
grid-template-columns:1fr;
}

.skills-grid{
grid-template-columns:1fr;
}

.stats{
flex-direction:column;
}

nav{
flex-direction:column;
gap:20px;
}

.hero-text h1{
font-size:32px;
}

body{
padding:20px;
}

}